html, body {
	height: 100%;
	margin: 0;
	font-family: Arial;
	background-color: white;
}

.default-table {
	width: 100%;
	cellspacing: 0px;
	cellpadding: 0px;
}
.id-label {
	font-size: 30px;
	padding: 20px;
	padding-bottom: 0px;
	vertical-align: bottom;
	font-weight: normal;
}

.participants-label {
	padding: 20px;
	padding-bottom: 0px;
	vertical-align: bottom;
	text-align: right;
}
.sign-in-label {
	padding: 20px;
	padding-bottom: 0px;
	font-size: 20px;
}
.sign-in-button-box {
	padding:20px;
	margin-right: auto;
	margin-left: auto;
}


.alt-label {
	padding: 5px;
	font-size: 16px;
	text-align: left;
}

.alt-box {
	margin: 5px;
	padding:5px;
	font-size: 14px;
	text-align: left;
	border-width:1px;
	border-style: solid;
	border-color: #dedede;
}

.feedback-box {
	margin: 5px;
	margin-left:40px;
	margin-bottom:0px;
	padding:5px;
	font-size: 14px;
	text-align: left;
	border-width:1px;
	border-style: solid;
	border-color: #dedede;
}
.feedback-info {
	margin: 5px;
	margin-left:auto;
	margin-top: -1px;
	padding:5px;
	font-size: 14px;
	color: #909090;
	text-align: right;
	border-width:1px;
	border-style: solid;
	border-color: #dedede;
	width: max-content;
}
.feedback-field {
	margin:5px;
	margin-left: 40px;
	width:auto;
}

#MenuTop {
	font-size: 16px;
	padding-right: 10px;
	padding-left: 10px;
	background-color: black;
	color: #dedede;
}
